/*Font section*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
       url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
       url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v17-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/open-sans-v17-latin_cyrillic-regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
}

/* Global */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.contaner {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*Main header*/
.main-header {
  background-color: var(--special-yellow);
}

.main-logo:focus {
  outline: none;
}
.main-logo:hover > svg path {
  fill-opacity: 0.6;
}

.main-logo:focus > svg path {
  fill-opacity: 0.6;
}

.main-logo:active > svg path {
  fill-opacity: 0.3;
}

.header-main-menu {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

.search-form {
  background-color: var(--special-yellow);
}

.search-form > .search-field:focus  {
  border-bottom: 2px solid var(--basic-black);
}

.search-field {
  background-color: var(--special-yellow);
  border: none;
}

.search-field:focus {
  outline: none;
}

.search-field::placeholder {
  opacity: 0.3;
}

.search-field:hover::placeholder {
  opacity: 0.6;
}

.search-field:focus::placeholder {
  color: var(--basic-black);
}

.search-btn {
  width: 84px;
  height: 50px;
  appearance: none;
  text-transform: uppercase;
  background-color: var(--special-yellow);
  border: 2px solid var(--basic-black);
}

.search-btn {
  text-transform: uppercase;
}

.search-btn:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-btn:focus {
  outline: none;
  color: rgba(0,0,0,.6);
}

.search-btn:active {
  color: rgba(255,255,255,.3);
}

.login-menu {
  display: inline-block;
}

.login-menu a {
  color: var(--basic-black);
}

.login-menu .logout-btn {
  opacity: 0.3;
}

.login-menu .logout-btn:hover, .login-menu .logout-btn:focus {
  outline: none;
  opacity: 0.6;
}

.login-btn, .compare-btn, .basket-btn {
  color: var(--basic-black);
}

.login-btn:hover, .compare-btn:hover, .basket-btn:hover,
.login-btn:focus, .compare-btn:focus, .basket-btn:focus {
  outline: none;
  opacity: 0.6;
}

.login-btn:active, .compare-btn:active, .basket-btn:active {
  opacity: 0.3;
}

.main-navigation {
  background-color: transparent;
}

.main-navigation-list {
  list-style: none;
}

.main-navigation-list a {
  color: var(--basic-black)
}

.main-navigation-item {
  display: inline-block;
  vertical-align: top;
}

.main-navigation-item a {
  text-transform: uppercase;
}

.hidden-menu-list {
  list-style: none;
}

.hidden-menu-list a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: none;
}

.main-navigation-list a:hover, .hidden-menu-list a:hover {
  opacity: 0.6;
}

.main-navigation-list a:focus, .hidden-menu-list a:focus {
  outline: none;
  opacity: 0.6;
}

.main-navigation-list a:active, .hidden-menu-list a:active {
  opacity: 0.3;
}

/*Promo slider*/
.slider {
  margin: 0 auto;
  background-color: transparent;
}

.slider-item {
  background: transparent;
}

.slider-btn {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 6px;
}

.slider-btn:active, .slider-btn:focus {
  outline: none;
  border: 1px solid rgba(0,0,0,.6);
}

.slider-item h2 {
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.slider-item h2::before {
  display: block;
  content: "";
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
}

.slider-number {
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-item p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

.btn-info {
  display: block;
  width: 220px;
  min-height: 40px;
  background: linear-gradient(transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 60%, transparent 60%);
  letter-spacing: 0.2em;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
}

.btn-info:hover {
  background: var(--special-yellow-dark);
}

.btn-info:focus {
  outline: none;
  color: rgba(0,0,0,.3);
}

.btn-info:active {
  color: rgba(0,0,0,.3);
}

.slider-features {
  margin: -15px -65px;
  border-collapse: separate;
  border: none;
  border-spacing: 65px 15px;
}

.slider-features th, .slider-features td {
  text-align: left;
}

.slider-features th {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.slider-features td {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

/*Catalog items block*/
.catalog-item {
  background-color: var(--special-yellow);
}

.catalog-items ul {
  list-style: none;
}

.catalog-items a {
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.item-vr::before {
  content: url("../img/popular-1.svg");
}

.item-selfie::before {
  content: url("../img/popular-2.svg");
}

.item-camera::before {
  content: url("../img/popular-3.svg");
}

.item-fitnes::before {
  content: url("../img/popular-4.svg");
}

.item-watch::before {
  content: url("../img/popular-5.svg");
}

.item-quadro::before {
  content: url("../img/popular-6.svg");
}

.catalog-items a:focus {
  outline: none;
}

.catalog-items a:hover + .catalog-item,
.catalog-items a:focus + .catalog-item {
  background-color: var(--special-yellow-dark);
}

.catalog-items a:active + .catalog-item {
  opacity: 0.3;
}

/*Service slider*/
.services {
  background-color: var(--basic-grey-light);
}

.service-slider-list {
  list-style: none;
  background-color: transparent;
}

.service-slider-btn {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 160px;
  min-height: 40px;
  background: linear-gradient(transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 60%, transparent 60%);
  border: none;
}

.service-slider-btn::after {
  position: absolute;
  content: "";
  background: #000;
  height: 100%;
  width: 120px;
  top: 0;
  right: -120px;
  display: none;
}

.service-slider-btn:hover {
  background-color: var(--special-yellow-dark);
}

.service-slider-btn:focus {
  outline: none;
  color: rgba(0,0,0,.3);
}

.service-slider-btn:active {
  background: var(--basic-black);
  color: var(--special-yellow);
}

.service-slider-btn:active::after {
  display: block;
}

.service-slider-item {
  background-color: transparent;
}

.service-slider-item h3 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-slider-item p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.delivery::after {
  content: url("../img/delivery.svg");
}

.warranty::after {
  content: url("../img/warranty.svg");
}

.credit::after {
  content: url("../img/credit.svg");
}

/*Logo block*/
.logo-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/*About us & Contacts*/
.about-us {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-white);
}

.contacts {
  display: flex;
  flex-direction: column;
}

.about-us h2, .contacts h2 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us h2::before, .contacts h2::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.delivery-list {
  list-style-image: url("../img/delivery_marker.svg");
}

.delivery-list a {
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}

.delivery-list a:focus, .delivery-list a:hover {
  outline: none;
  opacity: 0.6;
}

.more-inform-btn, .message-btn {
  display: block;
  width: 260px;
  min-height: 40px;
  background: linear-gradient(transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 60%, transparent 60%);
  letter-spacing: 0.2em;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
}

.more-inform-btn:hover, .message-btn:hover {
  background: var(--special-yellow-dark);
}

.more-inform-btn:focus, .message-btn:focus {
  outline: none;
  color: rgba(0,0,0,.3);
}

.more-inform-btn:active, .message-btn:active {
  color: rgba(0,0,0,.3);
}

/*Main catalog*/
.catalog-page {
  background-color: var(--basic-white);
}

.catalog-page h1 {
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-list li {
  display: inline-block;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-list a {
  color: var(--basic-black);
}

.breadcrumbs-list a:hover, .breadcrumbs-list a:focus {
  outline: none;
  opacity: 0.6;
}

.breadcrumbs-list a:active {
  opacity: 0.1;
}

/*Filter*/
.filter h2 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-header {
  background-color: #DCDCDC;
}

.filter-form {
  background-color: var(--basic-grey-light);
}

/*Input range*/
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background: var(--basic-half-grey)
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #91C92F;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #91C92F;
}

/*------------------------------------------*/

.filter-form legend {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-form ul {
  list-style: none;
}

.filter-form li label, .filter-input-checkbox {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 1.0;
}

.filter-color-list label:before {
  content: url("../img/checkbox-off.svg");
}

.filter-bletooth-list label:before {
  content: url("../img/radio-off.svg");
}

/* checked checkbox*/
.filter-input-checkbox:checked + label:before {
  content: url("../img/checkbox-on.svg");
}

/* disabled checkbox*/
.filter-input-checkbox:disabled + label:before {
  opacity: 0.25;
}

/* checked radio*/
.filter-radio:checked + label:before {
  content: url("../img/radio-on.svg");
}

/* disabled radio*/
.filter-radio:disabled + label:before {
  opacity: 0.25;
}

.filter-input-checkbox:hover + label, .filter-radio:hover + label {
  opacity: 0.6;
}

.filter-input-checkbox:focus + label, .filter-radio:focus + label {
  opacity: 0.6;
}

.filter-input-checkbox:active + label, .filter-radio:active + label {
  opacity: 1.0;
}

/*Filter submit button*/
.filter-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 200px;
  min-height: 40px;
  background: linear-gradient(transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 60%, transparent 60%);
  border: none;
}

.filter-btn:hover {
  outline: none;
  background: var(--special-yellow-dark);
}

.filter-btn:focus {
  outline: none;
  color: rgba(0,0,0,.3);
}

.filter-btn:active {
  color: rgba(0,0,0,.3);
}

/*Menu sort*/
.sort-products {
  display: flex;
  align-items: baseline;
  background-color: var(--basic-grey-light);
}

.sort-products h2 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
}

.sort-list li {
  display: inline-block;
}

.sort-list li a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-list li a.link-checked {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 1.0;
}

.sort-list li a:hover, .sort-list li a:focus {
  outline: none;
  opacity: 0.6;
}

.sort-list li a:active {
  opacity: 1.0;
}

.sort-products button {
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  vertical-align: center;
}

.btn-on > svg > path {
  opacity: 1.0;
}

.sort-products button:hover > svg > path {
  opacity: 0.4;
}

.sort-products button:focus > svg > path {
  opacity: 0.4;
}

.sort-products button:focus {
  outline: none;
}

.sort-products button:active > svg > path {
  opacity: 1.0;
}

.main-catalog {
  background-color: var(--basic-white);
}

.catalog-list {
  list-style: none;
}

.product-item h3 a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.product-item p {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

/*Product item under hover*/
.under-hover {
  background-color: transparent;
}

.add-basket-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 200px;
  min-height: 40px;
  background: linear-gradient(transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 60%, transparent 60%);
  border: none;
}

.add-basket-btn:hover {
  outline: none;
  background: var(--special-yellow-dark);
}

.add-basket-btn:focus {
  outline: none;
  color: rgba(0,0,0,.3);
}

.add-basket-btn:active {
  color: rgba(0,0,0,.3);
}

.add-compare-btn {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  border: none;
  background-color: transparent;
}

.add-compare-btn:hover {
  outline: none;
  opacity: 1.0;
}

.add-compare-btn:focus {
  outline: none;
  opacity: 1.0;
}

.add-compare-btn:active {
  outline: none;
  opacity: 0.2;
}

/*Pagination menu*/
.pagination-menu {
  background-color: #EBEBEB;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  display: inline-block;
}

.pagination-item a {
  color: var(--basic-black);
  opacity: 0.3;
}

.pagination-item .go-back,
.pagination-item .active-now,
.pagination-item .go-forward {
  opacity: 1.0;
}

.pagination-item .go-back:hover,
.pagination-item .go-forward:hover {
  background-color: #D9D9D9;
}

.pagination-item a:focus{
  outline: none;
  background-color: #D9D9D9;
}

.pagination-item .go-back:active,
.pagination-item .go-forward:active {
  background-color: #D9D9D9;
  opacity: 0.3;
}

/*Main footer*/
.footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.footer-logo-svg path {
  fill: var(--special-yellow-dark);
}

.footer-logo-link:hover > .footer-logo-svg path {
  fill-opacity: 0.6;
}

.footer-logo-link:focus > .footer-logo-svg path {
  outline: none;
  fill-opacity: 0.6;
}

.footer-logo-link:active > .footer-logo-svg path {
  fill-opacity: 0.3;
}

.footer a {
  color: var(--basic-white);
}

.footer a:focus {
  outline: none;
}

.footer-menu div {
  display: inline-block;
}

.footer-menu a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.7;
  color: var(--basic-white);
}

.footer-menu a:hover, .footer-menu a:focus {
  opacity: 1.0;
}

.footer-menu a:active {
  opacity: 0.3;
}

.footer-contact-menu p{
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer-contact-menu p::after {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC600;
}

.footer-menu-list {
  list-style: none;
}

.footer-menu-list li {
  display: inline-block;
}

.footer-menu-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-menu-list a:hover {
  opacity: 0.6;
}

.footer-menu-list a:focus {
  opacity: 0.6;
}

.footer-menu-list a:active {
  opacity: 0.3;
}

.tel-link {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.tel-link:focus {
  opacity: 0.6;
}

.socials-link-list {
  list-style: none;
}

.socials-link-list li {
  display: inline-block;
}

/* Social button */
.social-button:hover > .social-button-svg path {
  fill-opacity: 0.6;
}

.social-button:focus > .social-button-svg path {
  fill-opacity: 0.6;
}

.social-button:active > .social-button-svg path {
  fill-opacity: 0.1;
}

/* Logo academy*/
.htmlacademy-link:hover > .htmlacademy-svg path {
  fill-opacity: 0.6;
}

.htmlacademy-link:focus > .htmlacademy-svg path {
  fill-opacity: 0.6;
}

.htmlacademy-link:active > .htmlacademy-svg path {
  fill-opacity: 0.3;
}

/*Message popup write us*/
.message-popup {
  width: 960px;
  height: 550px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.close-btn {
  width: 55px;
  height: 55px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.close-btn:focus {
  outline: none;
}

.close-btn:hover.close-btn svg circle {
  opacity: 0.7;
}

.close-btn:focus.close-btn svg circle {
  opacity: 0.7;
}

.close-btn:active.close-btn svg circle {
  opacity: 0.3;
}

.message-form label {
  display: block;
}
.text-field {
  display: block;
  width: 360px;
  height: 50px;
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  vertical-align: center;
  border: none;
  background-color: #F2F2F2;
}

.text-field::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.area-field {
  display: block;
  width: 760px;
  height: 167px;
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  vertical-align: center;
  border: none;
  resize: none;
  background-color: #F2F2F2;
}

.area-field::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.submit-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 200px;
  min-height: 40px;
  background: linear-gradient(transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 60%, transparent 60%);
  border: none;
}

.submit-btn:hover {
  outline: none;
  background: var(--special-yellow-dark);
}

.submit-btn:focus {
  outline: none;
  color: rgba(0,0,0,.3);
}

.submit-btn:active {
  color: rgba(0,0,0,.3);
}

/*Map popup*/
.map-popup {
  width: 994px;
  height: 593px;
  margin: 0 auto;
  background-color: transparent;
}

.map-popup iframe {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}
